//- Needs refactoring

- if (errors !== undefined)
	- if (errors.length > 0)
		.alert-box.alert
			- if (errors.length === 1) {
				.message #{errors[0]}
			- } else {
				ul.messages
					each error in errors
						li #{error}
			- }

- if (info !== undefined)
	- if (info.length > 0)
		.alert-box
			- if (info.length === 1) {
				.message #{info[0]}
			- } else {
				ul.messages
					each message in info
						li #{message}
			- }

- if (success !== undefined)
	- if (success.length > 0)
		.alert-box.success
			- if (success.length === 1) {
				.message #{success[0]}
			- } else {
				ul.messages
					each message in success
						li #{message}
			- }