extends /layouts/default

block title
	title Administrator Accounts | SuperBlog Admin

block content
	.row
		.large-12.columns
			
			h2 Administrator Accounts

			include /partials/global/flash
			
			if administrators
				
				if paging
					p You are currently viewing #{paging.firstItem} - #{paging.lastItem} of #{paging.totalResults} administrators.
					//- include /partials/global/paging

				table.administrators
					thead
						tr
							th Name
							th Username
							th Password (@todo: remove this)
							th E-Mail
							th Activation status
							th

						each administrator in administrators
							tr
								td #{administrator.name} #{administrator.surname}
								td #{administrator.username}
								td #{administrator.password}
								td #{administrator.email}
								td #{administrator.active ? 'Active' : 'Inactive'}
								td: a(href="/admin/administrators/edit/#{administrator.id}" class="button small" style="margin:0;") Edit

				if paging
					//- include /partials/global/paging

			else
				p There are no administrator accounts to display.

			a(href="/admin/administrators/create" class="button") Create Administrator