if paging.totalPages > 1

	.pagination-centered

		ul.pagination

			//- First page
			li(class=(paging.current === paging.first ? 'unavailable' : ''))
				if (paging.current !== paging.first)
					a(href="#{paging.firstUrl}") <<
				else
					span <<

			//- Previous page
			li(class=(paging.previous === null ? 'unavailable' : ''))
				if (paging.previous !== null)
					a(href="#{paging.previousUrl}") <
				else
					span <

			//- Show ellipsis if there's a gap
			if (paging.current - 5) > 0
				li.unavailable &hellip;

			//- Previous pages (display 3 of the previous pages)
			//- for (var prevPage = paging.current - 1; prevPage >= paging.current - 4; prevPage--)
			- for (var prevPage = paging.current - 4; prevPage < paging.current; prevPage++)
				if prevPage >= paging.first
					li
						a(href="#{paging.constructor.getPageUrl(prevPage, paging.resultsPerPage, paging.baseUrl)}") #{prevPage}

			//- Current page
			li.current
				a(href="#{paging.currentUrl}") #{paging.current}

			//- Next pages (display 3 of the next pages)
			- for (var nextPage = paging.current + 1; nextPage <= paging.current + 4; nextPage++)
				if nextPage <= paging.last
					li
						a(href="#{paging.constructor.getPageUrl(nextPage, paging.resultsPerPage, paging.baseUrl)}") #{nextPage}

			//- Show ellipsis if there's a gap
			if paging.last - (paging.current + 5) > 0
				li.unavailable &hellip;

			//- Next page
			li(class=(paging.next === null ? 'unavailable' : ''))
				if paging.next !== null
					a(href="#{paging.nextUrl}") >
				else
					span >

			//- Last page
			li(class=(paging.current === paging.last ? 'unavailable' : ''))
				if paging.current !== paging.last
					a(href="#{paging.lastUrl}") >>
				else
					span >>