extends /layouts/default

block title
	title All Administrators | Admin

block content

		h2 All Administrators

		include /partials/global/flash
		
		if administrators.length > 0
			
			if paging
				p You are currently viewing #{paging.firstItem} - #{paging.lastItem} of #{paging.totalResults} administrators.
				//- include /partials/global/paging

			table.administrators.table
				thead
					tr
						th Name
						th Username
						th E-Mail
						th.text-center Activation status
						th

					each administrator in administrators
						tr
							td #{administrator.name} #{administrator.surname}
							td #{administrator.username}
							td #{administrator.email}
							td.text-center #{administrator.active ? 'Active' : 'Inactive'}
							td.text-right: a(href="/admin/administrators/edit/#{administrator.id}" class="btn btn-default btn-sm") Edit

			if paging
				//- include /partials/global/paging

		else
			p There are no administrator accounts to display.

		.well
			a(href="/admin/administrators/create" class="btn btn-primary") Create administrator